.datagrid{
    height: 600px;
}

.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      font-weight: bold;
      background-color: darkblue;
      color: green;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
      
    }
    
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      background-color: goldenrod;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }

    .vidButton{
        padding: 2px 5px;
        border-radius: 5px;
        background-color: white;
        color: purple;
        border: 1px dotted purple;
        cursor: pointer;
        width: 220px;
    }
  }